.container,
.offset-container,
.offset-wider-container {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1234px; /* ... I declare a thumb war. */
}

.offset-wider-container {
    max-width: 1157px;
}

.offset-container {
    max-width: 1079px;
}