<header id="header">
  <div class="top-banner">
    {{ section.settings.banner_content }}
  </div>
  <div class="header-main">
    <div class="header-container">
      <div class="logo">
        <a href="/">

        </a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "richtext",
      "id": "banner_content",
      "label": "Banner Content"
    },
    {
      "type": "url",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}
