.top-banner {
    background: var(--dark-green-blue);
    text-align: center;
    color: #fff;
    padding: 21px var(--x-spacing);
}

.header-main {
    background: #fff;
    padding: 35px var(--x-spacing) 100px;
}

.header-container {
    max-width: 1234px; /* ... I declare a thumb war. */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-link {
    display: flex;
    align-items: center;
    color: var(--body-black);
    &:hover {
        & .logo-icon {
            transform: scale(1.1);
        }
        & .logo-headings {
            transform: translateX(1rem);
        }
    }
}

.logo-icon {
    --logo-circle-size: 156px;
    width: var(--logo-circle-size);
    height: var(--logo-circle-size);
    background: var(--tan-yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--trans);
}

.logo-img {
    max-width: 95px;
    margin-right: 5px;
}

.logo-headings {
    margin-left: -27px;
    transition: transform var(--trans);
}

.logo-heading {
    margin-bottom: 5px;
}

.logo-sub-heading {
    margin-left: 2px;
}

.header-search {
    margin-top: 41px;
    display: flex;
}

.search-box {
    display: block;
    border: 2px solid var(--magenta-purple);
    border-right: 0;
    line-height: 23px;
    font-weight: 600;
    font-family: var(--body-font);
    font-size: 14px;
    padding: 13.5px 18px;
    width: 274px;
    transition: border var(--trans);
    &:focus {
        outline: 0;
    }
}

.header-search:hover .search-box,
.search-box:focus {
    border-color: var(--tan-yellow);
}

.header-search:hover .search-button,
.search-box:focus + .search-button {
    background: var(--tan-yellow);
}

.search-box,
.search-box::placeholder {
    color: var(--body-black);
}

.search-button {
    display: block;
    border: 0;
    background: var(--magenta-purple);
    cursor: pointer;
    padding: 0 23px;
    transition: background var(--trans);
}

.search-icon {
    width: 25px;
}

.header-links {
    --header-links-height: 25px;
    & > ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        padding: 0;
        justify-content: flex-end;
        & > li {
            & > a {
                display: flex;
                color: var(--body-black);
                align-items: center;
                height: var(--header-links-height);
                line-height: var(--header-links-height);
                padding: 0 24px;
                transition: color var(--trans);
                &:hover {
                    color: var(--magenta-purple);
                }
                & > span {
                    display: block;
                }
            }
            &.header-links-sep {
                font-size: 0;
                height: 17px;
                width: 2px;
                background: var(--body-black);
                border-radius: 2px;
            }
        }
    }
}

.cart-icon {
    height: var(--header-links-height);
    margin-right: 9px;
}

#shopify-section-header {
    display: inline;
}

#nav {
    margin-top: -55px;
    position: sticky;
    /* This is a trick to add a class using an intersection observer, see src/js/nav.js */
    top: -1px;
    z-index: 9;
    &.active {
        /* Compensate for the trick */
        padding-top: 1px;

        & > ul {
            max-width: 100%;
        }
    }
    & > ul {
        list-style-type: none;
        display: flex;
        background: var(--magenta-purple);
        height: 86px;
        max-width: 954px;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        transition: max-width var(--trans);
        & > li {
            & > a {
                display: block;
                color: #fff;
                padding: 0 20px;
            }
        }
    }
}
