:root {
    --body-font: 'soleil', sans-serif;
    --heading-font: Georgia, serif;

    --dark-green-blue: #035055;
    --body-black: #1E1E1E;
    --tan-yellow: #F1E68C;
    --magenta-purple: #79004F;

    --x-spacing: 2rem;
}