/*

font-family: soleil, sans-serif;

font-weight: 700;

font-style: normal;


Soleil Light

font-family: soleil, sans-serif;

font-weight: 300;

font-style: normal;


Soleil Semibold

font-family: soleil, sans-serif;

font-weight: 600;

font-style: normal;


Soleil Light Italic

font-family: soleil, sans-serif;

font-weight: 300;

font-style: italic;


Soleil Italic

font-family: soleil, sans-serif;

font-weight: 400;

font-style: italic;
 */